################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/Bejeweled/bin
/Bejeweled/obj
/FreeCell/obj
/FreeCell/bin
/FreeCell/obj
/CardGame/bin
/CardGame/obj
/.vs
/GameOptions/bin
/GameOptions/obj
/Hearts/bin
/Hearts/obj
/HeartsAITest/obj
/Installer
/Minesweeper/bin
/Minesweeper/obj
/Setup
/Solitare/bin
/Solitare/obj
/StarShooter/bin
/StarShooter/obj
/StarShooter/Content/bin
/StarShooter/Content/obj
*.suo
*.csproj.user